{% extends 'base.html' %}

{% block content %}
<div class="top-meal-name">
    <h1>Recipes</h1>
</div>

<div class="row">
    {% for recipe in recipes %}
    <div class="col" style="margin-bottom: 50px">
        <div class="card" style="width: 18rem; height: 530px">
            <img src="{{ recipe.image_url }}" class="card-img-top" width="auto" height="270">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">Type of meal: {{ recipe.type_of_meal }}</p>
                <p class="card-text">Time to prepare: {{ recipe.prepare_time }} minutes</p>
                <p class="card-text">Portion for: {{ recipe.portion }} people</p>
                <div class="recipe_card_buttons">
                    <a href="{{ recipe.recipe_url }}" class="btn btn-primary">Get recipe</a>
                    <button class="btn add-to-favourite-btn"><i class="fa fa-heart-o"></i></button>
                    <button class="btn delete-from-favourite-btn"><i class="fa fa-heart"></i></button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}